*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth ;
}
body{
    background: #fff;
    color: #5c0145;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/bgimage4.jpg);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 190px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px,10px;
}
nav ul li a{
    color: #5c0145;
    text-decoration: none;
    font-size: 18px;
    padding: 12px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background:#fff;
    position: absolute;
    left: 0;
    bottom: 10px;
    transition: 0.5s;
} 
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 5%;
    font-size: 20px;
}
.header-text h1{
    font-size: 35px;
    margin-top: 20px;
    text-align: center;
    color: #5c0145;
}
.header-text h1 span{
    font-size: 45px;
    color: #5c0145;
}
/*----------------About--------------------*/
#about{
    padding: 80px 0;
    color:#000000;
    font-weight: 545;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 25%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 40%;
}
.about-col-2{
    flex-basis: 60%;
    font-size: 25px;
}
.sub-title{
    font-size: 30px;
    font-weight: 100;
    color:#5c0145;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background:#5c0145;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-link{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-link::after{
    content: '';
    width: 0;
    height: 3px;
    background:#5c0145;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #5c0145;
    font-size: 20px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
/*-----------Certifications---------*/
#Certifications{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    filter: drop-shadow(10px 10px 10px #5c0145 );
    grid-gap: 80px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#5c0145);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 20px;
    color: #fff;
}
.layer p{
    color: #fff;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
/*---------------contact----------------*/
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
    color: #000000;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #000000;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right:15px;
    color: #000000;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #5c0145;
    transform: translateY(-5px);
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 2px solid #5c0145;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color:#000000;
    transition: background 0.5s;
}
.btn:hover{
    background:#5c0145;
}
.btn.btn2{
    display: inline-block;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    border: 2px solid #5c0145;
    padding: 25px;
    margin-top: 15px;
    color: #5c0145;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px,60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    border: 2px solid #5c0145;
    margin-top: 20px;
}
/*-------------css for small screen-----------------*/
nav .fas{
    display: none;
}

@media only screen and (max-width:600px){
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    #header{
        background-image: url(images/bgimage41.jpg);
    }
    .header-text h1{
        font-size: 30px;
        color:#cf029c;
    }
    .header-text h1 span{
        color: #8d046b;
    }
    nav ul li a{
        color: #fff;
    }
    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #5c0145;
        position: fixed;
        color: #fff;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin: 30px;
    }
    .contact-left,.contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }
    #msg{
        color:#5c0145;
        margin-top: -40px;
        display: block;
    }
}